:root {
  --color-primary: #ff7961;
  --color-grey: #555;
  --color-dark: #303030;
  --color-strongdark: #222222;
  --color-midlight: #d8d8d8;
  --color-light: #fafafa;
}

$font: 'League Spartan', Arial, Helvetica, sans-serif;

$delay-fast: 0.2s;
$delay-slow: 1s;
