@use 'reset';
@use 'fonts';
@use 'variables' as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

html,
body {
  background-color: var(--color-strongdark);
}

body {
  background-color: var(--color-strongdark);
  font-weight: 300;
  color: var(--color-primary);
  font-family: 'Noto Sans', serif;
  font-optical-sizing: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

body.light-mode {
  background-color: var(--color-midlight);
  color: var(--color-dark);
}

.light-mode {
  background-color: var(--color-light);
  color: var(--color-dark);
}

body,
body.light-mode,
.header,
.header.light-mode,
.footer,
.footer.light-mode,
.light-mode {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.app {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: auto;
}

.currency-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 27%;
}

.spending-power-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 27%;
}

// Tablet + Mobile Responsive
@media (max-width: 1600px) {
  .spending-power-container {
    width: 40%;
  }

  .currency-container {
    width: 40%;
  }
}

@media (max-width: 1300px) {
  .spending-power-container {
    width: 50%;
  }

  .currency-container {
    width: 40%;
  }
}

@media (max-width: 1100px) {
  .footer {
    margin-top: 20px;
    font-size: 12px;
  }
  .main-container {
    flex-direction: column;
    width: 58%;
    gap: 30px;
  }
  .app {
    padding-top: 60px;
  }
  .currency-container {
    width: 95%;
  }
  .spending-power-container {
    width: 95%;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 0 25px;
  }
  .footer {
    margin-top: 20px;
    font-size: 12px;
  }
  .main-container {
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    gap: 40px;
  }
  .app {
    padding-top: 60px;
  }
  .currency-container {
    width: 90%;
  }
  .spending-power-container {
    width: 90%;
  }
}
